{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "styles.css" %}">
  <title>{% block titulo %}{% endblock titulo %}</title>
</head>
<body>
    {% include "navbar/navbar.html" %}

    {% block body %}
        <h1>Inicio</h1>

        <p>En esta breve página les voy a comentar un poco de quien soy, lo que estudie, donde estudie y a lo que me quiero dedicar</p>

    {% endblock body %}

    {% include "footer/footer.html" %}
</body>
</html>
